// Colores
$color-green: #7CEA9C;
$color-navyBlue: #2D3047;

$color-nearBlack: #071013;
$color-white: #FFFFFF;

//  Estilos de fuentes
$font-lato: 'Lato', 'Verdana';

// Grosores de fuentes
$font-black: 900;
$font-bold: 700;
$font-regular: 400;
$font-light: 300;
